@import "mixins.scss";
@import "variables.scss";

.ShowProductContainer {
    min-height: 80vh;
    margin-top: 60px;
    max-width: 1440px;
}

.ShowProductContainer .ShowProductImage {
    @include flex(center, center);
}

.ShowProductContainer .ShowProductDes {
    margin: auto 0;
}

.ShowProductImage img {
    max-height: 600px;
    max-width: 300px;
}

.ShowProductDes button {
    width: 300px;
    height: 60px;
    border-radius: 20px;
    font-size: 22px;
    background-color: $mainColor;
    color: #fff;
}

.ShowProductDes button:hover {
    cursor: pointer;
}